
.skills img {
	height: 100px;
	width: 100px;
	margin-bottom: 10px;
}

.skills .skills-item h4 {
    font-size: 18px;
    font-weight: 600;
}

.skills .skills-item {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.header-main .nav-footer .copy p {
    color: #383838;
}