.banner-section .simplebar-content-wrapper:before {
    opacity: 0.7 !important;
}

.btn-cta {
    border-color: #FFD750 !important;
    color: #FFD750;
}

.btn-cta:after {
    background-color: #FFD750;
}

.skills img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.skills .skills-item h4 {
    font-size: 18px;
    font-weight: 600;
}

.skills .skills-item {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.ajax-portfolio-popup .single-work .information li {
    display: block;
}